@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
}

.view_panel {
	width: 60vw;
	height: 100vh;
	background-color: rgba(123,109,238,1);
	float: left;
}

.login_panel {
	position: relative;
	width: 40vw;
	height: 100vh;
	background-color: white;
	float: left;
}


.login_form {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
	position: relative;
	width: 100px;
	height: 100px;
}

.login_title {
	width: 70%;
    margin: 0px 15% 16px 15%;
	text-align: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
}


.form_field {
	width: 70%;
	height: 42px;
    padding: 12px 16px;
    margin: 0px 15% 16px 15%;
    box-sizing: border-box;
	border-radius: 21px;
	border: 2px solid rgba(200,200,200,1.00);
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	
}


.form_login_btn {
	width: 70%;
	height: 42px;
	margin: 0px 15% 16px 15%;
	border-radius: 21px;
	background-color: rgba(123,109,238,1);
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.form_login_google_btn {
	width: 60%;
	height: 42px;
	margin: 0px 20%;
	background-color: transparent;
	border: 0px solid transparent;
	color: rgba(123,109,238,1);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}















