@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subHeader {
	font-weight: bold;
	font-size: 28px;
	margin: 64px 0px 16px 0px;
}

.largeBodyText {
	font-weight: normal;
	font-size: 20px;
}

.bodyText {
	font-weight: normal;
	font-size: 18px;
}

.boldText {
	font-weight: bold;
}

.primaryColour {
	color: rgba(123, 109, 238, 1);
}

.lightTextColour {
	color: rgba(0,0,0,0.5);
}

.button {
	height: 42px;
	margin: 8px;
	padding: 0px 16px;
	border-radius: 21px;
	border: 0px solid transparent;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}

.equalWidths {
	width: 148px;
}

.purpleBackground {
	color: white;
	background-color: rgba(123,109,238,1);
}

.whiteBackground {
	color: rgba(123,109,238,1);
	background-color: white;
}






