@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #e6e6e6;
}

.subHeader {
	font-weight: bold;
	font-size: 28px;
	margin: 64px 0px 16px 0px;
}

.largeBodyText {
	font-weight: normal;
	font-size: 20px;
}

.smallText {
	font-weight: normal;
	font-size: 16px;
}

.bodyText {
	font-weight: normal;
	font-size: 18px;
}

.boldText {
	font-weight: bold;
}

.primaryColour {
	color: #1EA1F2;
}

.lightTextColour {
	color: rgba(0,0,0,0.5);
}

.button {
	height: 36px;
	margin: 16px 8px;
	padding: 0px 16px;
	border-radius: 21px;
	border: 0px solid transparent;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
}

.equalWidths {
	width: 148px;
}

.purpleBackground {
	color: white;
	background-color: #1EA1F2;
}

.whiteBackground {
	color: #1EA1F2;
	background-color: white;
}






