@charset "UTF-8";
/* CSS Document */
.body {
     background-color: #f3f5f6;
}

.headerText {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    width: 320px;
}

.matched_profile_card {
    border-radius: 32px;
    background-color:white;
    border: 5px solid #f3f5f6;
    width: 100%;
    padding: 32px;
    margin: 0px 0px 32px 0px;
    float: left;
    transition: 0.5s;
}

.matched_profile_card:hover {
	cursor: pointer;
    border: 5px solid #E0E0E0;
}

.profile_image {
	margin: auto;
	width: 50%;
	padding-top: 50%;
	border-radius: 32px;
	background: url(../images/profile_placeholder.png) no-repeat center center;
	background-size: cover;
	
}

.profile_name_title {
	padding-top: 32px;
	color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.profile_degree_title {
	color: #1EA1F2;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.profile_info_title {
	color: rgba(0,0,0,0.5);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.shortcut_container {
	padding: 16px 16px;
}

.shortcut_item {
	height: auto;
	width: 26%;
	padding: 0px 4%;
}

.refresh_button {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #1EA1F2;
    border: 0px solid transparent;
    color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
	position: absolute;
    right: 0px;
    -webkit-transition-duration: 0.2s; /* Safari */
    border-radius: 32px;
    transition-duration: 0.2s;
    margin-top: -44px;
    margin-bottom: 15px;
}

.refresh_button:hover {
	cursor: pointer;
	background-color: rgb(118, 102, 237, 1);
}

.refresh_button:active {
	background:#eb3b60;
	transform:translateY(1px);
	background-color: rgb(112, 95, 236, 1);
}

.refresh_button:hover {
	cursor: pointer;
}

.refresh_button:disabled {
    background: #dddddd;
    cursor: default;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
