@charset "UTF-8";
/* CSS Document */

.mainView {
	margin-left: 20vw;
	margin-right: 4vw;
}

.navBar {
	position: fixed;
	height: 100vh;
	width: 16vw;
	background-color: rgba(123,109,238,1);
}

.headerText {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.matched_profile_card {
	background-color: #FFFFFF;
	border-radius: 32px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 32px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 32px rgba(0,0,0,0.20);
	padding: 32px;
	margin: 0px 0px 32px 0px;
	float: left;
}

.profile_image {
	width: 50%;
}

.profile_name_title {
	padding-top: 32px;
	color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

.profile_degree_title {
	color: rgba(123,109,238,1);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.profile_info_title {
	color: rgba(0,0,0,0.5);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.shortcut_container {
	padding: 0px 16px;
}









