@charset "UTF-8";
/* CSS Document */

.nav_profile_image {
	display:  block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	width: 50%;
	border-radius: 50%;
	cursor: pointer;
}

.nav_profile_title {
	padding-top: 26px;
    margin-bottom: 26px;
	color: white;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	cursor: pointer;
}

.nav_separator_Line {
	height: 2px;
	width: 80%;
	background-color: white;
		
	margin-left: auto;
	margin-right: auto;
}

ul {
    list-style-type: none;
    margin-top: 16px;
    padding: 0;
    width: 100%;
    text-decoration: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

li a {
	margin-left: 2%;
    display: block;
    color: white;
    padding: 8px 10%;
    text-decoration: none;
	transition: 0.5s;
    
}

/* Change the link color on hover */
li a:hover {
    color: rgb(200,200,200);
    text-decoration: none;
}


/*



ul {
	margin: 16px 0px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}


.nav_profile_title {
	margin: 32px 0px;
	color: red;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.nav_menu_items {
	margin: 16px 0px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.nav_separator_Line {
	height: 2px;
	width: 80%;
	background-color: white;
		
	margin-left: auto;
	margin-right: auto;
}*/
