@charset "UTF-8";
/* CSS Document */

.navigationBar {
	position: fixed;
	width: 100vw;
	height: 64px;
	background-color: #252742;
	min-width: 0px;
	margin-top: 0px;
	z-index: 100;
/*	-webkit-box-shadow: 0px 1px 1px rgba(164,164,164,1.00);*/
/*	box-shadow: 0px 1px 1px rgba(164,164,164,1.00);*/
}

.nav_profile:hover {
   cursor: pointer;
}

.nav_profile_image {
	display:  block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	width: 50%;
	border-radius: 50%;
	cursor: pointer;
}

.nav_profile_title {
	padding-top: 26px;
    margin-bottom: 26px;
	color: white;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	cursor: pointer;
}

.nav_separator_Line {
	height: 2px;
	width: 80%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.menuItems {
	margin-top: 23px;
	margin-right: 23px;
	margin-left: 23px;
	margin-bottom: 23px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 13px;
	float: right;
	color: rgba(255,255,255,1.00);
	text-decoration: none;
}

a {
    display: inline;
    color: rgba(255,255,255,1.00);
    text-decoration: none;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
    
li a {
    vertical-align: middle;
    text-decoration: none;
    transition: 0.5s;
}

/* Change the link color on hover */
a:hover {
    color: rgb(200,200,200);
    text-decoration: none;
}


/*



ul {
	margin: 16px 0px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}


.nav_profile_title {
	margin: 32px 0px;
	color: red;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.nav_menu_items {
	margin: 16px 0px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.nav_separator_Line {
	height: 2px;
	width: 80%;
	background-color: white;
		
	margin-left: auto;
	margin-right: auto;
}*/
