@charset "UTF-8";
/* CSS Document */

.navigationBar {
    position: fixed;
    width: 100vw;
    height: 64px;
    background-color: rgba(123, 109, 238, 1);
}

.nav_profile:hover {
   cursor: pointer;
}

.nav_profile_image {
	display:  block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	width: 50%;
	border-radius: 50%;
}

.nav_profile_title {
	margin: 32px 0px;
	color: white;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.nav_separator_Line {
	height: 2px;
	width: 80%;
	background-color: white;
		
	margin-left: auto;
	margin-right: auto;
}

.menuItems {
    background-color: red;
    list-style-type: none;
    margin: 0px 16px;
/*    padding: 16px;*/
    text-decoration: none;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
    float: right;
    height: 100%;
/*    display: inline;*/
}

a {
     display: inline;
    color: white;
    height: 100%;
    padding: 0px 16px;
    vertical-align: middle;
    background-color: blue;
    text-decoration: none;
	transition: 0.5s;
    
}

/* Change the link color on hover */
a:hover {
    color: rgb(200,200,200);
    text-decoration: none;
}


/*



ul {
	margin: 16px 0px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}


.nav_profile_title {
	margin: 32px 0px;
	color: red;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.nav_menu_items {
	margin: 16px 0px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.nav_separator_Line {
	height: 2px;
	width: 80%;
	background-color: white;
		
	margin-left: auto;
	margin-right: auto;
}*/
