@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
}

.setup_area {
	width: 70%;
    margin: 0px 15% 8px 15%;
	text-align: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.login_title {
	width: 70%;
    margin: 0px 15% 16px 15%;
	text-align: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
}


.form_field {
	width: 70%;
	height: 42px;
    padding: 12px 16px;
    margin: 0px 15% 16px 15%;
    box-sizing: border-box;
	border-radius: 21px;
	border: 2px solid rgba(200,200,200,1.00);
	
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	
}


.form_login_btn {
	width: 70%;
	height: 42px;
	margin: 0px 15% 16px 15%;
	border-radius: 21px;
	background-color: rgba(123,109,238,1);
	border: 0px solid transparent;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.form_login_google_btn {
	width: 60%;
	height: 42px;
	margin: 0px 20%;
	background-color: transparent;
	border: 0px solid transparent;
	color: rgba(123,109,238,1);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.warning {
	width: 70%;
    margin: 0px 15% 16px 15%;
    text-align: left;
    color: red;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.form_signup_btn {
	
	position: absolute;
	bottom: 8px;
	left: 50%;
  transform: translateX(-50%);
	
	height: 42px;
	background-color: transparent;
	border: 0px solid transparent;
	color: rgba(0,0,0,0.5);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
}















