@charset "UTF-8";
/* CSS Document */

.user_profile_main {
	width: 100vw;
	height: 328px;
/*	background-color: white;*/
	position: relative;
	margin-bottom: 32px;
	/*rgba(123,109,238,1);*/
}

.backgroundColorView {
	width: 100%;
	height: calc(100% - 128px);
	background-color: #ff0084;
}

.avatar {
	position: absolute;
/*	background: url(/../images/purple_profile_placeholder.png);*/
	background-position: 50% 50%;
	height: 200px;
	width: 200px;
	background-size: cover;
	border-radius: 32px;
	left: 10vw;
	bottom: 0px;
	background-color: white;
	border: 5px solid #F9F9F9;
	overflow: hidden;
}

.profilePicture {
	height: 100%;
	width: 100%;
}


.shortcut_container {
	width: 100%;
	height: 64px;
	padding: 0px 16px;
	padding-left: calc(10vw + 186px + 6vw);
	background-color: white;
	vertical-align: middle;
	float: right;
}

.shortcut_buttons {
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 0px 2px;
    border-radius: 0px;
    height: 100%;
    background-color: #FFFFFF;
    color: #FF0084;
}

.shortcut_buttons:hover {
    cursor: pointer;
    border-bottom: medium inset #FF0084;
}

.shortcut_buttons:active {
    cursor: pointer;
    border-bottom: medium inset #FF0084;
}




.mainView {
	margin: 0px 10%;
	margin-top: -64px;
}



.bioView {
	width: 200px;
	float: left;
}

.infoView {
	width: calc(100% - (200px + 6vw));
	margin-left: 6vw;
	float: right;
}
























/*
.main_view {
	width: 80%;
	margin: 0px 10%;
}
*/

.enrolledCoursesCollectionView {
	position: relative;
	width: 100%;
}


.course_card {
	background-color: #ff0084;
	border-radius: 16px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 32px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 32px rgba(0,0,0,0.20);
	padding: 22px;
	margin: 0px 0px 16px 0px;
	float: left;
	height: 100%;
}

.course_uni_title {
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
}


.course_title {
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
}

.table_title {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
}


.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 0px;
}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600;
}
